<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/main.html :: head" />
<body>
<div>
    <div th:replace="fragments/main.html :: header(${itemSearch}, ${leafCategories})"/>
    <hr>
    <div class="row justify-content-center">
        <div th:replace="fragments/seller.html :: seller-menu('view')"></div>
        <div class="col-8">

        </div>
    </div>
    <ul class="list-group mb-4">
        <a class="list-group-item list-group-item-success text-dark" href="/seller/items">상품 관리</a>
    </ul>

    <ul class="list-group">
        <li class="list-group-item list-group-item-success text-dark">상품 등록</li>
        <li class="list-group-item depth1"><a class="text-dark" href="/seller/album/new">앨범</a></li>
        <li class="list-group-item depth1 "><a class="text-dark" href="/seller/book/new">도서</a></li>
    </ul>

    <hr>
</div>
<hr>
<div th:replace="fragments/main.html :: footer"/>
</body>
<script th:replace="fragments/main.html::dropdown-hover"></script>
<script th:replace="fragments/main.html::header-input-validation"></script>
</html>