<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/main.html :: head" />
<body>
<div class="container">
    <div th:replace="fragments/main.html :: bodyHeader"/>
        <form class= "text-center" th:action="@{/members/login/authentication}" method="post"
              th:object="${memberLoginForm}" onsubmit="return formValidation()">
            <div class="form-group row">
                <label th:for="${memberLoginForm.email}"></label>
                <input class="form-control col-6 offset-3" type="text" th:field="*{email}"
                       placeholder="이메일" maxlength="20">
                <p class="col-6 offset-3 mb-0" id="err_empty_id" style="color: red"></p>
            </div>

            <div class="form-group row">
                <label th:for="${memberLoginForm.password}"></label>
                <input class="form-control col-6 offset-3" type="password" th:field="*{password}"
                       placeholder="비밀번호" maxlength="20">
                <p class="col-6 offset-3" id="err_empty_pwd" style="color: red"></p>
            </div>
            <p id="err_login" th:text="${error}" style="color: red"></p>
            <button type="submit" class="btn btn-success">로그인</button>
        </form>
</div>
<div th:replace="fragments/main.html :: footer"/>
</body>
<script>
    function formValidation() {
        $('#err_empty_id').text('')
        $('#err_empty_pwd').text('')
        $('#err_login').text('')

        let emailLength = $('input[name="email"]').val().length
        if (emailLength === 0) {
            $('#err_empty_id').text('이메일을 입력하세요.')
            return false
        }

        let passwordLength = $('input[name="password"]').val().length
        if (passwordLength === 0) {
            $('#err_empty_pwd').text('비밀번호를 입력하세요.')
            return false
        }

        return true
    }
</script>
</html>