<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/main.html :: head" />
<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="_csrf" th:value="${_csrf.token}" />
</head>
<body>
<div class="justify-content-center">
    <div th:replace="fragments/main.html :: header(${itemSearch}, ${leafCategories})"/>
    <hr>
    <div class="container">
        <div class="row justify-content-center">
            <img class="col-5" th:src="${item.representativeImageUrl}" alt="">
            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <p class="h4" th:text="${item.name}"></p>
                        <hr>
                        <p class="h4 text-danger"><span th:text="${item.price}"></span> 원</p>
                        <hr>
                        <ul class="pl-4">
                            <th:block th:if="${item.itemType == T(com.ydh.helloshop.application.domain.item.ItemType).ALBUM}">
                                <li>가수: <span th:text="${item.artist}"></span></li>
                                <li>기타사항: <span th:text="${item.etc}"></span></li>
                            </th:block>
                           <th:block th:if="${item.itemType == T(com.ydh.helloshop.application.domain.item.ItemType).BOOK}">
                                <li>저자: <span th:text="${item.author}"></span></li>
                                <li>ISBN: <span th:text="${item.isbn}"></span></li>
                           </th:block>
                            <th:block th:if="${item.itemType == T(com.ydh.helloshop.application.domain.item.ItemType).FURNITURE}">
                                <li>길이: <span th:text="${item.length}"></span></li>
                                <li>너비: <span th:text="${item.width}"></span></li>
                                <li>높이: <span th:text="${item.height}"></span></li>
                            </th:block>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div th:if="${message}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong th:text="${message}"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row justify-content-around">
                    <div class="col-4 row">
                        <label class="col-4 col-form-label" for="item-count">개수</label>
                        <input type="number" id="item-count" class="form-control col-8" min="1" max="10" value="1" style="display: inline">
                    </div>
                    <form th:action="@{/orders}" class="col-4">
                        <input type="hidden" id="order-infdo">
                        <button type="button" id="cart-btn" class="btn btn-block btn-outline-success">장바구니 담기</button>
                    </form>
                    <form action="/orders" class="col-4" method="get" enctype="text/plain">
                        <input type="hidden" id="orderInfo" name="orderInfo">
                        <button type="submit" id="order-btn" class="btn btn-block btn-outline-primary">바로구매</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <h2>상세 설명</h2>
        <div class="row border border-2">
            <div class="col-12" th:utext="${item.description}"></div>
        </div>
    </div>
    <hr>
</div>
<div th:replace="fragments/main.html :: footer"/>
</body>
<script th:replace="fragments/main.html :: dropdown-hover"></script>
<script th:replace="fragments/main.html :: header-input-validation"></script>
<script th:replace="fragments/main.html :: ajax-csrfToken"></script>
<script th:inline="javascript">
    let itemId = [[${item.id}]]

    $('#cart-btn').click(function () {
        let count = $('#item-count').val()

        let itemInfo = {
            count: count,
            itemId: itemId
        }

        $.ajax({
            url: '/cart/add',
            type: 'post',
            data: JSON.stringify(itemInfo),
            data_type: "json",
            contentType: "application/json;",
            success: function (data, status, xhr) {
                if (xhr.status === 202) {
                    alert("장바구니에 추가되었습니다.")
                } else {
                    location.href = '/members/login'
                }
            },
            error: function () {
                alert("장바구니 추가에 실패했습니다.")
            }
        })
    })

    $('#order-btn').click(function () {
        let count = parseInt($('#item-count').val());

        let requestOrderInfos = [];

        let itemInfo = {
            'count': count,
            'itemId': itemId
        };

        requestOrderInfos.push(itemInfo);

        let data = {'requestOrderInfos': requestOrderInfos};
        $('#orderInfo').val(JSON.stringify(data));
    })
</script>
</html>

