<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/main.html :: head" />
<body>
<div class="container">
    <div th:replace="fragments/main.html :: header(${itemSearch}, ${leafCategories})"/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>주문날짜</th>
            <th>상품명</th>
            <th>가격</th>
            <th>배송 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderDto : ${orderListDto}">
            <td th:text="*{orderDto.orderDate}"></td>
            <td th:text="*{orderDto.itemName}"></td>
            <td th:text="*{orderDto.price}"></td>
            <th:block th:switch="${orderDto.deliveryStatus}">
                <td th:case="${T(com.ydh.helloshop.application.domain.delivery.DeliveryStatus).READY}" th:text="|배송 준비|"></td>
                <td th:case="${T(com.ydh.helloshop.application.domain.delivery.DeliveryStatus).SHIPPED}" th:text="배송중"></td>
                <td th:case="${T(com.ydh.helloshop.application.domain.delivery.DeliveryStatus).COMP}" th:text="|배송 완료|"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/main.html :: footer"/>
</div>
</body>
</html>