<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="fragments/main.html :: head"/>
<body>
<div class="justify-content-center">
    <div th:replace="fragments/main.html :: simple-header"/>
    <hr>
    <div class="container-lg">
        <div class="row justify-content-center">
            <h2 class="col-12">주문 / 결제</h2>
        </div>
        <hr>
        <div class="row mb-3">
            <h4 class="col-12">구매자 정보</h4>
            <div class="col-12">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">이름</th>
                            <td colspan="3" th:text="${member.name}">홍길동</td>
                        </tr>
                        <tr>
                            <th scope="row">이메일</th>
                            <td colspan="3" th:text="${member.email}">hello@gamil.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-3">
            <h4 class="col-12">받는사람 정보 <button class="btn btn-outline-success p-1 ml-2">변경</button></h4>
            <div class="col-12">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">이름</th>
                        <td colspan="3" th:text="${member.name}">홍길동</td>
                    </tr>
                    <tr>
                        <th scope="row">배송주소</th>
                        <td colspan="3" th:text="${member.address.getFullAddress()}">hello@gamil.com</td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-middle">배송 요청사항</th>
                        <td>
                            <input class="form-control border-dark" type="text">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <h4 class="col-12">선택상품</h4>
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item" th:each="info : ${orderInfo.responseOrderParams}">
                        <div class="row">
                            <span th:text="${info.item.name}" class="col-6"></span>
                            <span class="text-muted col-6">
                            수량: <span th:text="${info.count}"></span>개 /
                                통합 가격: <span th:text="${#numbers.formatInteger(info.totalPrice, 0, 'COMMA')}"></span>원
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <h4 class="col-12">결제정보</h4>
            <div class="col-12">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="20%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">총결제금액</th>
                        <td colspan="3"><span th:text="${#numbers.formatInteger(orderInfo.totalPrice, 0, 'COMMA')}"></span>원</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button class="btn btn-block btn-primary p-2" type="button" style="font-size: 25px">결제하기</button>
            </div>
        </div>
    </div>
    <hr>
</div>
<div th:replace="fragments/main.html :: footer"/>
</body>
<script th:replace="fragments/main.html::dropdown-hover"></script>
<script th:replace="fragments/main.html::header-input-validation"></script>
</html>