<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/main.html :: head" />
<body>
<div class="container">
    <div th:replace="fragments/main.html :: header(${itemSearch}, ${leafCategories})"/>
<!--    <div class="media border border-dark rounded">-->
<!--        <div class="text-center">-->
<!--            <p>안년연ㅇ</p>-->
<!--            <img src="https://thumbnail7.coupangcdn.com/thumbnails/remote/96x96ex/image/retail/images/63395926118037-429ee89c-8080-48cb-85ff-e34f1e418876.jpg" class="align-self-start mr-3" alt="...">-->
<!--        </div>-->
<!--        <div class="media-body">-->
<!--            <h5 class="mt-0">Top-aligned media</h5>-->
<!--            <p>I’m gon’ put her in a coma. You give a hundred reasons why, and you say you're really gonna try. So I sat quietly, agreed politely. Suiting up for my crowning battle. And on my 18th Birthday we got matching tattoos. So très chic, yeah, she's a classic. I am ready for the road less traveled.</p>-->
<!--            <p>I'm walking on air (tonight). But down to earth. You're original, cannot be replaced. But in another life I would be your girl. We drove to Cali and got drunk on the beach. We can dance, until we die, you and I, will be young forever. Saw you downtown singing the Blues.</p>-->
<!--        </div>-->
<!--    </div>-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>주문날짜</th>
            <th>상품명</th>
            <th>가격</th>
            <th>배송 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${searchResult.getOrderParams()}">
            <td th:text="*{order.orderDate}"></td>
            <td th:text="*{order.itemName}"></td>
            <td th:text="*{order.price}"></td>
            <th:block th:switch="${order.deliveryStatus}">
                <td th:case="${T(com.ydh.helloshop.application.domain.delivery.DeliveryStatus).READY}" th:text="|배송 준비|"></td>
                <td th:case="${T(com.ydh.helloshop.application.domain.delivery.DeliveryStatus).SHIPPED}" th:text="배송중"></td>
                <td th:case="${T(com.ydh.helloshop.application.domain.delivery.DeliveryStatus).COMP}" th:text="|배송 완료|"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/main.html :: footer"/>
</div>
</body>
</html>