<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/main.html :: head"/>
<body>
<div class="justify-content-center">
    <div th:replace="fragments/main.html :: header(${itemSearch}, ${leafCategories})"/>
    <hr>
    <div class="container-lg">
        <h2>주문목록</h2>
        <div class="row">
            <div class="col-5 mb-3">
                <form class="col-10 form-inline border border-1 rounded p-0" th:action="@{/order/view}">
                    <input type="text" class="col form-control input-itemName border-0"
                           placeholder="주문상품을 검색할 수 있어요." th:value="${itemName}" name="itemName">
                    <button class="col-2 btn text-dark" type="submit"><i class="fas fa-search fa-lg"></i></button>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>주문날짜</th>
                <th>상품명</th>
                <th>수량</th>
                <th>총 가격</th>
                <th>배송 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders.getContent()}">
                <td th:text="*{order.orderDate}"></td>
                <td>
                    <a th:href="@{'/item/' + ${order.itemId}}"><span class="text-dark" th:text="*{order.itemName}"></span></a>
                </td>
                <td th:text="*{order.count}"></td>
                <td th:text="*{order.totalPrice}"></td>
                <td th:text="*{order.deliveryStatus.title}"></td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${!orders.hasPrevious()} ? disabled">
                <a class="page-link" th:if="${orders.hasPrevious()}"
                   th:href="@{'/order/view?page=' + ${orders.previousPageable().getPageNumber()} + ${#strings.isEmpty(itemName)?'' : '&itemName=' + itemName}}">
                    <span><<</span>
                </a>
                <a class="page-link" th:if="${!orders.hasPrevious()}" href="#"><span><<</span></a>
            </li>

            <li th:if="${orders.getTotalPages() > 0}" th:each="num : ${#numbers.sequence(1, orders.getTotalPages())}"
                class="page-item" th:classappend="${num - 1 == orders.getNumber()} ? active">
                <a class="page-link" th:href="@{'/order/view?page=' + ${num - 1} + ${#strings.isEmpty(itemName)?'' : '&itemName=' + itemName}}">
                    <span th:text="${num}"></span>
                </a>
            </li>
            <li th:if="${orders.getTotalPages() == 0}" class="page-item active">
                <a class="page-link" th:href="@{'/order/view'+ ${#strings.isEmpty(itemName)?'' : '?itemName=' + itemName}}">
                    <span>1</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${!orders.hasNext()} ? disabled">
                <a class="page-link" th:if="${orders.hasNext()}"
                   th:href="@{'/order/view?page=' + ${orders.nextPageable().getPageNumber()} + ${#strings.isEmpty(itemName)?'' : '&itemName=' + itemName}}">
                    <span>>></span>
                </a>
                <a class="page-link" th:if="${!orders.hasNext()}" href="#"><span>>></span></a>
            </li>
        </ul>
    </div>
    <hr>
</div>
<div th:replace="fragments/main.html :: footer"/>
</body>
<script th:replace="fragments/main.html::header-input-validation"></script>
</html>