<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:include="fragments/main.html :: head"/>
<head>
    <style>
        img {
            width: auto;
            height: 200px;
        }
    </style>
</head>
<body>
<div class="justify-content-center">
    <div th:replace="fragments/main.html :: header(${itemSearch}, ${leafCategories})"/>
    <hr>
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-12">
                <p class="text-center h2 my-4">최근 등록된 상품</p>
                <div class="row row-cols-4">
                    <div class="col mb-4" th:each="item : ${items}">
                        <div class="card h-100">
                            <a th:href="@{'/items/' + ${item.id}}">
                                <img th:src="${item.representativeImageUrl}" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <a th:href="@{'/items/' + ${item.id}}">
                                    <h6 class="card-title text-dark" th:text="${item.name}">title</h6>
                                </a>
                                <p class="card-text">
                                    <span th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')}"></span>원
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<div th:replace="fragments/main.html :: footer"/>
</body>
<script th:replace="fragments/main.html::header-input-validation"></script>
</html>