<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="fragments/main.html :: head"/>
<body>
<div class="justify-content-center">
    <div th:replace="fragments/main.html :: bodyHeader(${itemSearch}, ${leafCategories})"/>
    <hr>
    <div class="container-lg">
        <div class="row">
            <div class="col-9">
                <div class="container text-center">
                    <p>최근 등록된 상품</p>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="item : ${items}">
                            <a th:href="|/items/${item.getId()}|"><span th:text="|${item.name} ${item.price}원|"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="container bg-light border border-dark" sec:authorize="isAnonymous()">
                    <div class="row p-2">
                        <div class="container text-center">
                            <a class="btn btn-success px-4" href="/members/login">로그인</a>
                        </div>
                    </div>
                    <div class="row pb-2" style="font-size: x-small">
                        <div class="col container">
                            <a class="text-dark" href="/members/findId">아이디</a>
                            <a class="text-dark" href="/members/findPwd">/비밀번호 찾기</a>
                        </div>
                        <div class="col-4 container text-right">
                            <a class="text-dark" href="/members/new" >회원가입</a>
                        </div>
                    </div>
                </div>
                <div class="container bg-light border border-dark" sec:authorize="isAuthenticated()">
                    <div class="row p-2" th:object="${memberInfo}">
                        <div class="container text-center">
                            <p th:text="|*{name} 님 안녕하세요|">회원 이름</p>

                            <!-- 특정 권한 종속적 -->
                            <p sec:authorize="!hasAuthority('ADMIN')" th:text="*{email}">회원 이메일</p>
                            <a sec:authorize="hasAuthority('ADMIN')" href="/admin"
                               class="btn btn-outline-danger btn-sm">ADMIN</a>
                            <!--                        <a sec:authorize="hasAuthority('CUSTOMER')" href="/cart"-->
                            <!--                           class="btn btn-success btn-sm">장바구니</a>-->
                            <a sec:authorize="hasAuthority('SELLER')" href="/seller"
                               class="btn btn-outline-danger btn-sm">판매자 메뉴</a>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col text-center">
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-warning" style="font-size: xx-small" type="submit" value="logout">로그아웃</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div th:replace="fragments/main.html :: footer"/>
</body>
<script th:replace="fragments/main.html::header-input-validation"></script>
</html>